@media only screen and (min-width: 501px) {
  .popupContainer {
    position: fixed;
    bottom: 0;
    background-color: #223544;
    width: 350px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }

  .popupContainer#popupContainerEntrance {
    cursor: pointer;
    -webkit-animation: fadeInUp 1s;
            animation: fadeInUp 1s;
  }

  .popupContainer#popupContainerExit {
    -webkit-animation: fadeOutDown 1s forwards;
            animation: fadeOutDown 1s forwards;
  }
}

@media only screen and (max-width: 500px) {
  .popupContainer {
    position: fixed;
    background-color: #223544;
    bottom: 24px;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .popupContainer#popupContainerEntrance {
    cursor: pointer;
    -webkit-animation: fadeInLeft 1s;
            animation: fadeInLeft 1s;
  }

  .popupContainer#popupContainerExit {
    -webkit-animation: fadeOutRight 1s;
            animation: fadeOutRight 1s;
    opacity: 0;
  }
}

.popupContainer#popupContainerOut {
  display: none;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); 
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.popupContainer #imageContent {
  height: 100px;
}

.popupContainer .textContainer {
  padding: 10px 16px;
  margin-bottom: 6px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


.popupContainer .textContainer .closeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.textContainer .closeContainer #title {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.textContainer .closeContainer #close {
  height: 16px;
}

.textContainer #name {
  color: white;
  font-size: 12px;
  font-weight: 800;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.textContainer #time {
  color: #D5D5D5;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 6px;
}
